.app{
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}
body {
  background-color: #62c2c8;
}
.crossed{
  text-decoration: line-through 2px red;
  background-color: #f0f0f0 ;
}
ul,li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-family: 'Poppins', sans-serif;

}
h1{
  font-family: 'Poppins', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}
.add{
  margin-top: 20px;
  background: #65aa06;
  padding: 10px;
border: none;
width: 50%;
color: white;
font-size: 16px;
font-family: 'Poppins', sans-serif;
}
.delete{
  background: #d30100;
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  width: 50%;
  color: white;
font-size: 16px;
font-family: 'Poppins', sans-serif;

}
input{
  flex:1;
  padding: 8px;
  margin: 10px;
  font-family: 'Poppins', sans-serif;

}
img{
  border-radius: 50%;
}